.product {
    width: 300px;
    height: 450px;
    border: 1px solid gray;
    border-radius: 7px;
    position: relative;
}

.product img {
    height: 280x;
    width: 280px;
    border-radius: 8px;
    margin: 5px
}
.product-info{
    margin:0 14px;
    font-family: "Lato";
    font-weight: 600;
}
.product-info  p{
    
    margin-top: 5px;
    margin-bottom: 0;

}

.btn-cart{
    width: 100%;
    font-weight: 600;
    border-radius: 0px  0px 8px 8px;
    border:1px solid black;
    background-color: black;
    color: white;
    position: absolute;
     bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;  
    cursor: pointer;  
}

.btn-cart .btn-text{
    margin-right: 7px;
}
.btn-cart:hover{
    background-color: white;
    color: black;
   
}